<div class="m-10">

  <h2 class="mb-4 text-4xl leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">マイページ</h1>
  <%= render "users/user_detail",  {user: @user} %>  
  
  <div class="actions my-5 bg-cyan-600 text-white rounded w-20 h-10 mr-5 md:text-base flex items-center justify-center">
    <%= link_to "編集", edit_user_registration_path %>
  </div>

  <div class="items-center">
    <h3 class="text-lg sm:text-2xl pb-5">自分のMBTIをシェアしましょう！</h3>
    <%= qrcode current_user.id, 6 %>
  </div>

</div>