<div class="w-full bg-gradient-to-bl from-amber-300 via-amber-200 to-amber-100">
  <div class="pt-10 text-center text-3xl sm:text-6xl">
    <h1 class="font-bold">55秒であなたの<br>MBTIをシェアできる！</h1>
  </div>
  <div class="pt-10 px-10"><%= image_tag "personalities.jpg" %></div>
  <p class="pt-10 px-20 text-center w-full">
    あなたのMBTIを登録・公開するだけでなく、<br>お友達をフォローしてすぐにMBTIを思い出せます。<br>
    リスト作成により、コミュニティごとの整理も可能です。
  </p>
  <div class="w-screen flex justify-center items-center pb-10 px-20 ">
    <%= link_to "ユーザー登録で利用を始める", new_user_registration_path, class: "mx-8 bg-white text-black rounded md:text-4xl py-3 px-20" %>
  </div>
</div>