<nav class="w-full bg-cyan-600">
  <div class="flex justify-between items-center max-w-5xl mx-auto h-20">
    <div class="mx-8 md:text-3xl">
      <%= link_to "MBTI交換アプリ", root_path, class: "text-white" %>
    </div>
    <div>
      <%= link_to "ログイン", "#", class: "mx-8 bg-white text-black py-3 px-4 text-sm rounded md:text-base" %>
    </div>
  </div>
</nav>
