<nav class="w-full bg-cyan-600">
  <div class="flex justify-between items-center mx-auto py-5">
    <div class="ml-6 sm:text-2xl">
      <%= link_to "MBTI交換アプリ", root_path, class: "text-white" %>
    </div>
    <div class="flex flex-wrap text-xs md:text-sm text-black">
      <%= link_to "ログイン", new_user_session_path, class: "mr-2 bg-white py-3 px-4 rounded" %>
      <%= link_to "ユーザー登録", new_user_registration_path, class: "bg-white py-3 px-4 rounded mr-6" %>
    </div>
  </div>
</nav>
