<nav class="w-full bg-black mt-auto">
  <div class="flex justify-between items-center max-w-5xl mx-auto h-20">
    <div class="mx-4 md:text-3xl">
      <%= link_to "MBTI交換アプリ", users_path, class: "text-white" %>
    </div>  
  </div>
</nav>
